<body class="fit">
  <!-- section 1 -->
  <div class="flex fit">
    <div class="section1-slogan">
      <h2 class="vertical-text dark-gray">THINK LEGACY WITH US</h2>
    </div>
    <div class="section1-content">
      <div class="flex">
        <%= image_tag "star005.png", class: "rotation"%>
        <%= image_tag "star003.png", class: "scale"%>
        <%= image_tag "star002.png", class: "rotation"%>
        <%= image_tag "star004.png", class: "scale"%>
        <%= image_tag "star005.png", class: "rotation"%>
        <h4>Moonwalking Tours</h4>
      </div>
      <div class="white padding">
        <p>We are a <span class="border-bottom">local family</span> that would like to show you
        around our town in a unique way. Fed by several areas of knowledge and different approaches to reality,
        we will journey simultaneously through memory and through some of the most
        relevant issues of our times. Our tours are participatory, so not only do we invite you to explore our living
        spaces but your own inner worlds. You don't have to be or know anything in
        particular, just <span class="border-bottom">relax and enjoy.</span></p>
      </div>
      <div class="padding">
        <h3>Even a slight 1º change in perspective can drastically affect the final trajectory</h3>
      </div>
    </div>
  </div>


  <div class="white block dark-gray">
  </div>

  <!-- section 2 -->
  <div class="block flex">
    <div class="flex">
      <div class="margin">
        <%= image_tag "star001.png"%>
        <h3>Mariana Galán</h3>
        <h4>MA in Social Sculpture</h4>
        <p>Imaginative, nonconformist, resourceful</p>
      </div>
      <div class="margin">
        <%= image_tag "star001.png"%>
        <h3>Francisco Galán</h3>
        <h4>MA in Philosophy</h4>
        <p>Razor-sharp logic, insightful, playful</p>
      </div>
      <div class="margin">
        <%= image_tag "star001.png"%>
        <h3>Genevieve Galán</h3>
        <h4>PhD in History</h4>
        <p>Witty, profound, welcoming</p>
      </div>
    </div>

  </div>
  <p class="diagonal-box">How to be a good ancestor?</p>
  <h2 class="dark-gray">GUIDES</h2>
  <h2>Tours</h2>
  <h2>Book now!</h2>
  <% @tours.each do |tour|%>
    <h3><%= link_to tour.name.capitalize, tour_path(tour) %></h3>
  <% end %>
  <p>Moral dilemmas: choose your adventure</p>
  <p>About Cars</p>
  <p>The abandoned spaces</p>
</body>
