<body>
  <div class="wallpaper">
    <div class="white diagonal-box opacity">
      <%= image_tag "star005.png", class: "rotation margin"%>
      <%= image_tag "star003.png", class: "scale"%>
      <%= image_tag "star002.png", class: "rotation margin"%>
      <%= image_tag "star004.png", class: "scale"%>
      <%= image_tag "star005.png", class: "rotation margin"%>
      <%= image_tag "star001.png", class: "rotation margin"%>

    </div>
    <div class="flex-vertical">
      <h1 class="big-text black">Think <span class="gold">legacy</span> with us</h1>
      <div class="content-box white gray">
        <div class="flex">
          <div class="margin">

            <p class="margin">We are a local family that would like to show you
              around our town in a unique way.</p>

            <p> Fed by several areas of knowledge and different approaches to reality,
            we will journey simultaneously through memory and through some of the most
            relevant issues of our times.</p>
          </div>
          <div class="margin">

            <p class="margin">Our tours are participatory, so not only do we invite you to explore our living
            spaces but your own inner worlds. You don't have to be or know anything in
            particular, just relax and enjoy.</p>
          </div>

        </div>

        <p class="gold">Even a slight 1º change in perspective can drastically affect the final trajectory</p>
      </div>
    </div>
  <div>
  <div class="pink block">
    <h1 class="dark-gray">Guides</h1>
    <h2>Mariana Galán</h2>
    <span>MA in Social Sculpture</span>
    <p>Imaginative, nonconformist, resourceful</p>
    <h2>Francisco Galán</h2>
    <span>MA in Philosophy</span>
    <p>Razor-sharp logic, insightful, playful</p>
    <h2>Genevieve Galán</h2>
    <span>PhD in History</span>
    <p>Witty, profound, welcoming</p>
  </div>

  <h1>Tours</h1>
  <h2>Book now!</h2>
  <% @tours.each do |tour|%>
    <h3><%= link_to tour.name.capitalize, tour_path(tour) %></h3>
  <% end %>
  <p>Moral dilemmas: choose your adventure</p>
  <p>About Cars</p>
  <p>The abandoned spaces</p>
</body>
