<body>
  <!-- section 1 -->
  <div class="wallpaper">
    <div class="light diagonal-box">
      <%= image_tag "star005.png", class: "rotation margin"%>
      <%= image_tag "star003.png", class: "scale"%>
      <%= image_tag "star002.png", class: "rotation margin"%>
      <%= image_tag "star004.png", class: "scale"%>
      <%= image_tag "star005.png", class: "rotation margin"%>
    </div>
    <div class="flex-vertical">
      <h1 class="big-text black">Think <span class="gold">legacy</span> with us</h1>
      <h2>This is a title</h2>
      <h3>This is a highlight marker</h3>
      <h4>This is a little caption</h4>
      <p>This is a paragraph</p>
      <div class="content-box">
        <div class="margin">
          <p>We are a <span class="border-bottom">local family</span> that would like to show you
            around our town in a unique way. Fed by several areas of knowledge and different approaches to reality,
          we will journey simultaneously through memory and through some of the most
          relevant issues of our times.</p>
          <p>Our tours are participatory, so not only do we invite you to explore our living
          spaces but your own inner worlds. You don't have to be or know anything in
          particular, just <span class="border-bottom">relax and enjoy.</span></p>
        </div>
      </div>
    </div>
    <div class="white block dark-gray">
      <h3 class="margin" style="padding-top: 100px; padding-bottom: 100px">Even a slight 1º change in perspective can drastically affect the final trajectory</h3>
    </div>
  <div>
  <!-- section 2 -->
  <div class="pink block flex">
    <div class="flex">
      <div class="margin">
        <%= image_tag "star001.png"%>
        <h2>Mariana Galán</h2>
        <span>MA in Social Sculpture</span>
        <p>Imaginative, nonconformist, resourceful</p>
      </div>
      <div class="margin">
        <%= image_tag "star001.png"%>
        <h2>Francisco Galán</h2>
        <span>MA in Philosophy</span>
        <p>Razor-sharp logic, insightful, playful</p>
      </div>
      <div class="margin">
        <%= image_tag "star001.png"%>
        <h2>Genevieve Galán</h2>
        <span>PhD in History</span>
        <p>Witty, profound, welcoming</p>
      </div>
    </div>

  </div>
  <p class="diagonal-box">How to be a good ancestor?</p>
    <h1 class="dark-gray diagonal-caption">GUIDES</h1>
  <h1>Tours</h1>
  <h2>Book now!</h2>
  <% @tours.each do |tour|%>
    <h3><%= link_to tour.name.capitalize, tour_path(tour) %></h3>
  <% end %>
  <p>Moral dilemmas: choose your adventure</p>
  <p>About Cars</p>
  <p>The abandoned spaces</p>
</body>
