<body class="fit rainbow">
  <!-- section 1 -->
  <div class="flex fit">
    <div class="section1-left-col">
      <h1 class="vertical-text dark-gray">THINK LEGACY WITH US</h1>
    </div>
    <div class="section1-right-col">
      <div class="flex translation-l negative-margin-l">
        <h4>How to be a good ancestor?</h4>
        <%= image_tag "star005.png"%>
        <%= image_tag "star003.png", class: "scale"%>
        <%= image_tag "star002.png", class: "rotation"%>
        <%= image_tag "star004.png", class: "scale"%>
        <%= image_tag "star005.png", class: "rotation"%>
        <h4>Moonwalking Tours</h4>
        <%= image_tag "star005.png"%>
        <%= image_tag "star003.png", class: "scale"%>
        <%= image_tag "star002.png", class: "rotation"%>
        <%= image_tag "star004.png", class: "scale"%>
        <%= image_tag "star005.png", class: "rotation"%>
        <h4>Book now!</h4>
      </div>
      <div class="flex translation-r negative-margin-r">
        <%= image_tag "icon001.png"%>
        <%= image_tag "star004.png"%>
        <%= image_tag "icon001.png"%>
        <%= image_tag "star004.png"%>
        <%= image_tag "icon001.png"%>
      </div>
      <div class="flex translation-l negative-margin-l">
        <%= image_tag "icon002.png"%>
        <%= image_tag "icon002.png"%>
        <h4>How to be a good ancestor?</h4>
        <%= image_tag "icon002.png"%>
        <%= image_tag "icon002.png"%>
      </div>
      <div class="white section1-content">
        <h3>We are a <span class="border-bottom">local family</span> that would like to show you
        around our town in a unique way. Fed by several areas of knowledge and different approaches to reality,
        we will journey simultaneously through memory and through some of the most
        relevant issues of our times. Our tours are participatory, so not only do we invite you to explore our living
        spaces but your own inner worlds. You don't have to be or know anything in
        particular, just <span class="border-bottom">relax and enjoy.</span></h3>
      </div>
      <div class="section1-quote flex parent">
        <div class="white-m-circle white translation-l negative-margin-l"></div>
        <p class="child gold">Even a slight 1º change in perspective<br>can drastically affect the final trajectory</p>
      </div>
    </div>
  </div>
  <!-- section 2 -->
  <div>
    <h2 class="dark-gray">GUIDES</h2>
    <div class="flex">
      <div class="card flex-vertical">
        <div class="white-sm-circle white"></div>
        <h3>Mariana Galán</h3>
        <h4>MA in Social Sculpture</h4>
        <p>Imaginative, nonconformist, resourceful</p>
      </div>
      <div class="card flex-vertical">
        <div class="white-sm-circle white"></div>
        <h3>Francisco Galán</h3>
        <h4>MA in Philosophy</h4>
        <p>Razor-sharp logic, insightful, playful</p>
      </div>
      <div class="card flex-vertical">
        <div class="white-sm-circle white"></div>
        <h3>Genevieve Galán</h3>
        <h4>PhD in History</h4>
        <p>Witty, profound, welcoming</p>
      </div>
    </div>

  </div>
  <p class="diagonal-box">How to be a good ancestor?</p>

  <h2>Tours</h2>
  <h2>Book now!</h2>
  <% @tours.each do |tour|%>
    <h3><%= link_to tour.name.capitalize, tour_path(tour) %></h3>
  <% end %>
  <p>Moral dilemmas: choose your adventure</p>
  <p>About Cars</p>
  <p>The abandoned spaces</p>
</body>
